body{ 
}


.everything {
	transform: scale(0.7);
}



.letters {
	width: 1000px;
	height: 1000px;
	position: absolute;
	top: 0px;
	left: 10px;
	pointer-events: none;


}

.background{
	position: relative;
	top: 50%;
	left: 10px;
	width: 1000px;
	height: 500px;

}
	.bstripe1 {
    width: 1000px;
    height: 10px;
      
      background-color: #0d47a1;
      position: absolute;
      top: 0px;
      left: 00px;
  }

  .bstripe2 {
    width: 1000px;
    height: 10px;
      background-color: #1565c0;
      position: absolute;
      top: 10px;
      left: 0px;
  }

  .bstripe3 {
    width: 1000px;
    height: 10px;
      background-color: #1976d2;
      position: absolute;
      top: 20px;
      left: 0px;
  }

  .bstripe4 {
    width: 1000px;
    height: 10px;
      background-color: #1e88e5;
      position: absolute;
      top: 30px;
      left: 0px;
  }

  .bstripe5 {
    width: 1000px;
    height: 10px;
      background-color: #2196f3;
      position: absolute;
      top: 40px;
      left: 0px;
  }

  .bstripe6 {
    width: 1000px;
    height: 10px;
      background-color: #42a5f5;
      position: absolute;
      top: 50px;
      left: 0px;
  }

  .bstripe7 {
    width: 1000px;
    height: 10px;
      background-color: #64b5f6;
      position: absolute;
      top: 60px;
      left: 0px;
  }

  .bstripe8 {
    width: 1000px;
    height: 10px;
      background-color: #90caf9;
      position: absolute;
      top: 70px;
      left: 0px;
  }

  .bstripe9 {
    width: 1000px;
    height: 10px;
      background-color: #bbdefb;
      position: absolute;
      top: 80px;
      left: 0px;
  }

  .bstripe10 {
    width: 1000px;
    height: 10px;
      background-color: #e3f2fd;
      position: absolute;
      top: 90px;
      left: 0px;
  }




  .bstripe11 {
    width: 1000px;
    height: 10px;
      
      background-color: #0d47a1;
      position: absolute;
      top: 100px;
      left: 00px;
  }

  .bstripe12 {
    width: 1000px;
    height: 10px;
      background-color: #1565c0;
      position: absolute;
      top: 110px;
      left: 0px;
  }

  .bstripe13 {
    width: 1000px;
    height: 10px;
      background-color: #1976d2;
      position: absolute;
      top: 120px;
      left: 0px;
  }

  .bstripe14 {
    width: 1000px;
    height: 10px;
      background-color: #1e88e5;
      position: absolute;
      top: 130px;
      left: 0px;
  }

  .bstripe15 {
    width: 1000px;
    height: 10px;
      background-color: #2196f3;
      position: absolute;
      top: 140px;
      left: 0px;
  }

  .bstripe16 {
    width: 1000px;
    height: 10px;
      background-color: #42a5f5;
      position: absolute;
      top: 150px;
      left: 0px;
  }

  .bstripe17 {
    width: 1000px;
    height: 10px;
      background-color: #64b5f6;
      position: absolute;
      top: 160px;
      left: 0px;
  }

  .bstripe18 {
    width: 1000px;
    height: 10px;
      background-color: #90caf9;
      position: absolute;
      top: 170px;
      left: 0px;
  }

  .bstripe19 {
    width: 1000px;
    height: 10px;
      background-color: #bbdefb;
      position: absolute;
      top: 180px;
      left: 0px;
  }

  .bstripe20 {
    width: 1000px;
    height: 10px;
      background-color: #e3f2fd;
      position: absolute;
      top: 190px;
      left: 0px;
  }











  .bstripe21 {
    width: 1000px;
    height: 10px;
      
      background-color: #0d47a1;
      position: absolute;
      top: 200px;
      left: 00px;
  }

  .bstripe22 {
    width: 1000px;
    height: 10px;
      background-color: #1565c0;
      position: absolute;
      top: 210px;
      left: 0px;
  }

  .bstripe23 {
    width: 1000px;
    height: 10px;
      background-color: #1976d2;
      position: absolute;
      top: 220px;
      left: 0px;
  }

  .bstripe24 {
    width: 1000px;
    height: 10px;
      background-color: #1e88e5;
      position: absolute;
      top: 230px;
      left: 0px;
  }

  .bstripe25 {
    width: 1000px;
    height: 10px;
      background-color: #2196f3;
      position: absolute;
      top: 240px;
      left: 0px;
  }

  .bstripe26 {
    width: 1000px;
    height: 10px;
      background-color: #42a5f5;
      position: absolute;
      top: 250px;
      left: 0px;
  }

  .bstripe27 {
    width: 1000px;
    height: 10px;
      background-color: #64b5f6;
      position: absolute;
      top: 260px;
      left: 0px;
  }

  .bstripe28 {
    width: 1000px;
    height: 10px;
      background-color: #90caf9;
      position: absolute;
      top: 270px;
      left: 0px;
  }

  .bstripe29 {
    width: 1000px;
    height: 10px;
      background-color: #bbdefb;
      position: absolute;
      top: 280px;
      left: 0px;
  }

  .bstripe30 {
    width: 1000px;
    height: 10px;
      background-color: #e3f2fd;
      position: absolute;
      top: 290px;
      left: 0px;
  }









  .bstripe31 {
    width: 1000px;
    height: 10px;
      
      background-color: #0d47a1;
      position: absolute;
      top: 300px;
      left: 00px;
  }

  .bstripe32 {
    width: 1000px;
    height: 10px;
      background-color: #1565c0;
      position: absolute;
      top: 310px;
      left: 0px;
  }

  .bstripe33 {
    width: 1000px;
    height: 10px;
      background-color: #1976d2;
      position: absolute;
      top: 320px;
      left: 0px;
  }

  .bstripe34 {
    width: 1000px;
    height: 10px;
      background-color: #1e88e5;
      position: absolute;
      top: 330px;
      left: 0px;
  }

  .bstripe35 {
    width: 1000px;
    height: 10px;
      background-color: #2196f3;
      position: absolute;
      top: 340px;
      left: 0px;
  }

  .bstripe36 {
    width: 1000px;
    height: 10px;
      background-color: #42a5f5;
      position: absolute;
      top: 350px;
      left: 0px;
  }

  .bstripe37 {
    width: 1000px;
    height: 10px;
      background-color: #64b5f6;
      position: absolute;
      top: 360px;
      left: 0px;
  }

  .bstripe38 {
    width: 1000px;
    height: 10px;
      background-color: #90caf9;
      position: absolute;
      top: 370px;
      left: 0px;
  }

  .bstripe39 {
    width: 1000px;
    height: 10px;
      background-color: #bbdefb;
      position: absolute;
      top: 380px;
      left: 0px;
  }

  .bstripe40 {
    width: 1000px;
    height: 10px;
      background-color: #e3f2fd;
      position: absolute;
      top: 390px;
      left: 0px;
  }






.bstripe41 {
    width: 1000px;
    height: 10px;
      
      background-color: #0d47a1;
      position: absolute;
      top: 400px;
      left: 00px;
  }

  .bstripe42 {
    width: 1000px;
    height: 10px;
      background-color: #1565c0;
      position: absolute;
      top: 410px;
      left: 0px;
  }

  .bstripe43 {
    width: 1000px;
    height: 10px;
      background-color: #1976d2;
      position: absolute;
      top: 420px;
      left: 0px;
  }

  .bstripe44 {
    width: 1000px;
    height: 10px;
      background-color: #1e88e5;
      position: absolute;
      top: 430px;
      left: 0px;
  }

  .bstripe45 {
    width: 1000px;
    height: 10px;
      background-color: #2196f3;
      position: absolute;
      top: 440px;
      left: 0px;
  }

  .bstripe46 {
    width: 1000px;
    height: 10px;
      background-color: #42a5f5;
      position: absolute;
      top: 450px;
      left: 0px;
  }

  .bstripe47 {
    width: 1000px;
    height: 10px;
      background-color: #64b5f6;
      position: absolute;
      top: 460px;
      left: 0px;
  }

  .bstripe48 {
    width: 1000px;
    height: 10px;
      background-color: #90caf9;
      position: absolute;
      top: 470px;
      left: 0px;
  }

  .bstripe49 {
    width: 1000px;
    height: 10px;
      background-color: #bbdefb;
      position: absolute;
      top: 480px;
      left: 0px;
  }

  .bstripe50 {
    width: 1000px;
    height: 10px;
      background-color: #e3f2fd;
      position: absolute;
      top: 490px;
      left: 0px;
  }





.bstripe51 {
    width: 1000px;
    height: 10px;
      
      background-color: #0d47a1;
      position: absolute;
      top: 500px;
      left: 00px;
  }

  .bstripe52 {
    width: 1000px;
    height: 10px;
      background-color: #1565c0;
      position: absolute;
      top: 510px;
      left: 0px;
  }

  .bstripe53 {
    width: 1000px;
    height: 10px;
      background-color: #1976d2;
      position: absolute;
      top: 520px;
      left: 0px;
  }

  .bstripe54 {
    width: 1000px;
    height: 10px;
      background-color: #1e88e5;
      position: absolute;
      top: 530px;
      left: 0px;
  }

  .bstripe55 {
    width: 1000px;
    height: 10px;
      background-color: #2196f3;
      position: absolute;
      top: 540px;
      left: 0px;
  }

  .bstripe56 {
    width: 1000px;
    height: 10px;
      background-color: #42a5f5;
      position: absolute;
      top: 550px;
      left: 0px;
  }

  .bstripe57 {
    width: 1000px;
    height: 10px;
      background-color: #64b5f6;
      position: absolute;
      top: 560px;
      left: 0px;
  }

  .bstripe58 {
    width: 1000px;
    height: 10px;
      background-color: #90caf9;
      position: absolute;
      top: 570px;
      left: 0px;
  }

  .bstripe59 {
    width: 1000px;
    height: 10px;
      background-color: #bbdefb;
      position: absolute;
      top: 580px;
      left: 0px;
  }

  .bstripe60 {
    width: 1000px;
    height: 10px;
      background-color: #e3f2fd;
      position: absolute;
      top: 590px;
      left: 0px;
  }






  .bstripe61 {
    width: 1000px;
    height: 10px;
      
      background-color: #0d47a1;
      position: absolute;
      top: 600px;
      left: 00px;
  }

  .bstripe62 {
    width: 1000px;
    height: 10px;
      background-color: #1565c0;
      position: absolute;
      top: 610px;
      left: 0px;
  }

  .bstripe63 {
    width: 1000px;
    height: 10px;
      background-color: #1976d2;
      position: absolute;
      top: 620px;
      left: 0px;
  }

  .bstripe64 {
    width: 1000px;
    height: 10px;
      background-color: #1e88e5;
      position: absolute;
      top: 630px;
      left: 0px;
  }

  .bstripe65 {
    width: 1000px;
    height: 10px;
      background-color: #2196f3;
      position: absolute;
      top: 640px;
      left: 0px;
  }

  .bstripe66 {
    width: 1000px;
    height: 10px;
      background-color: #42a5f5;
      position: absolute;
      top: 650px;
      left: 0px;
  }

  .bstripe67 {
    width: 1000px;
    height: 10px;
      background-color: #64b5f6;
      position: absolute;
      top: 660px;
      left: 0px;
  }

  .bstripe68 {
    width: 1000px;
    height: 10px;
      background-color: #90caf9;
      position: absolute;
      top: 670px;
      left: 0px;
  }

  .bstripe69 {
    width: 1000px;
    height: 10px;
      background-color: #bbdefb;
      position: absolute;
      top: 680px;
      left: 0px;
  }

  .bstripe70 {
    width: 1000px;
    height: 10px;
      background-color: #e3f2fd;
      position: absolute;
      top: 690px;
      left: 0px;
  }





  .bstripe71 {
    width: 1000px;
    height: 10px;
      
      background-color: #0d47a1;
      position: absolute;
      top: 700px;
      left: 00px;
  }

  .bstripe72 {
    width: 1000px;
    height: 10px;
      background-color: #1565c0;
      position: absolute;
      top: 710px;
      left: 0px;
  }

  .bstripe73 {
    width: 1000px;
    height: 10px;
      background-color: #1976d2;
      position: absolute;
      top: 720px;
      left: 0px;
  }

  .bstripe74 {
    width: 1000px;
    height: 10px;
      background-color: #1e88e5;
      position: absolute;
      top: 730px;
      left: 0px;
  }

  .bstripe75 {
    width: 1000px;
    height: 10px;
      background-color: #2196f3;
      position: absolute;
      top: 740px;
      left: 0px;
  }

  .bstripe76 {
    width: 1000px;
    height: 10px;
      background-color: #42a5f5;
      position: absolute;
      top: 750px;
      left: 0px;
  }

  .bstripe77 {
    width: 1000px;
    height: 10px;
      background-color: #64b5f6;
      position: absolute;
      top: 760px;
      left: 0px;
  }

  .bstripe78 {
    width: 1000px;
    height: 10px;
      background-color: #90caf9;
      position: absolute;
      top: 770px;
      left: 0px;
  }

  .bstripe79 {
    width: 1000px;
    height: 10px;
      background-color: #bbdefb;
      position: absolute;
      top: 780px;
      left: 0px;
  }

  .bstripe80 {
    width: 1000px;
    height: 10px;
      background-color: #e3f2fd;
      position: absolute;
      top: 790px;
      left: 0px;
  }







    .bstripe81 {
    width: 1000px;
    height: 10px;
      
      background-color: #0d47a1;
      position: absolute;
      top: 800px;
      left: 00px;
  }

  .bstripe82 {
    width: 1000px;
    height: 10px;
      background-color: #1565c0;
      position: absolute;
      top: 810px;
      left: 0px;
  }

  .bstripe83 {
    width: 1000px;
    height: 10px;
      background-color: #1976d2;
      position: absolute;
      top: 820px;
      left: 0px;
  }

  .bstripe84 {
    width: 1000px;
    height: 10px;
      background-color: #1e88e5;
      position: absolute;
      top: 830px;
      left: 0px;
  }

  .bstripe85 {
    width: 1000px;
    height: 10px;
      background-color: #2196f3;
      position: absolute;
      top: 840px;
      left: 0px;
  }

  .bstripe86 {
    width: 1000px;
    height: 10px;
      background-color: #42a5f5;
      position: absolute;
      top: 850px;
      left: 0px;
  }

  .bstripe87 {
    width: 1000px;
    height: 10px;
      background-color: #64b5f6;
      position: absolute;
      top: 860px;
      left: 0px;
  }

  .bstripe88 {
    width: 1000px;
    height: 10px;
      background-color: #90caf9;
      position: absolute;
      top: 870px;
      left: 0px;
  }

  .bstripe89 {
    width: 1000px;
    height: 10px;
      background-color: #bbdefb;
      position: absolute;
      top: 880px;
      left: 0px;
  }

  .bstripe90 {
    width: 1000px;
    height: 10px;
      background-color: #e3f2fd;
      position: absolute;
      top: 890px;
      left: 0px;
  }






      .bstripe91 {
    width: 1000px;
    height: 10px;
      
      background-color: #0d47a1;
      position: absolute;
      top: 900px;
      left: 00px;
  }

  .bstripe92 {
    width: 1000px;
    height: 10px;
      background-color: #1565c0;
      position: absolute;
      top: 910px;
      left: 0px;
  }

  .bstripe93 {
    width: 1000px;
    height: 10px;
      background-color: #1976d2;
      position: absolute;
      top: 920px;
      left: 0px;
  }

  .bstripe94 {
    width: 1000px;
    height: 10px;
      background-color: #1e88e5;
      position: absolute;
      top: 930px;
      left: 0px;
  }

  .bstripe95 {
    width: 1000px;
    height: 10px;
      background-color: #2196f3;
      position: absolute;
      top: 940px;
      left: 0px;
  }

  .bstripe96 {
    width: 1000px;
    height: 10px;
      background-color: #42a5f5;
      position: absolute;
      top: 950px;
      left: 0px;
  }

  .bstripe97 {
    width: 1000px;
    height: 10px;
      background-color: #64b5f6;
      position: absolute;
      top: 960px;
      left: 0px;
  }

  .bstripe98 {
    width: 1000px;
    height: 10px;
      background-color: #90caf9;
      position: absolute;
      top: 970px;
      left: 0px;
  }

  .bstripe99 {
    width: 1000px;
    height: 10px;
      background-color: #bbdefb;
      position: absolute;
      top: 980px;
      left: 0px;
  }

  .bstripe100 {
    width: 1000px;
    height: 10px;
      background-color: #e3f2fd;
      position: absolute;
      top: 990px;
      left: 0px;
  }





	.active1 {
  background: #e3f2fd;
  transition: all 0.5s ease
}

.active2 {
  background: #bbdefb;
  transition: all 0.5s ease
}

.active3 {
  background: #90caf9;
  transition: all 0.5s ease
}

.active4 {
  background: #64b5f6;
  transition: all 0.5s ease
}

.active5 {
  background: #42a5f5;
  transition: all 0.5s ease
}

.active6{
  background: #2196f3;
  transition: all 0.5s ease
}

.active7{
  background: #1e88e5;
  transition: all 0.5s ease
}

.active8 {
  background: #1976d2;
  transition: all 0.5s ease
}

.active9 {
  background: #1565c0;
  transition: all 0.5s ease
}

.active10 {
  background: #0d47a1;
  transition: all 0.5s ease
}

.active11 {
  visibility: hidden;
}









.TypefaceHELLO {
  position: relative;
    bottom: 90px;
    left: 330px;
    width: 300px;
    height: 100px;
    z-index: 2;
    pointer-events: none;

}


/* X4 X4 X4 X4 X4 X4 X4 */ 


  .trtX4Y2HHH {
      width: 0;
      height: 0;
      border-top: 10px solid #0d47a1;
      border-left: 10px solid transparent;
      position: absolute;
      top: 80px;
      left: 30px;
    }

    .boxX4Y3HHH {
      width: 10px;
      height: 10px;
      background: #1565c0;
      position: absolute;
      top: 70px;
      left: 30px;
    }

    .boxX4Y4HHH {
      width: 10px;
      height: 10px;
      background: #1976d2;
      position: absolute;
      top: 60px;
      left: 30px;
    }

    .boxX4Y5HHH {
      width: 10px;
      height: 10px;
      background: #1e88e5;
      position: absolute;
      top: 50px;
      left: 30px;
    }
  .boxX4Y6HHH {
     width: 10px;
      height: 10px;
      background: #2196f3;
      position: absolute;
      top: 40px;
      left: 30px;
    }

    .bltX4Y7HHH {
      width: 0;
      height: 0;
      border-bottom: 10px solid #42a5f5;
      border-right: 10px solid transparent;
      position: absolute;
      top: 30px;
      left: 30px;
    }

    .boxX4Y8HHH {
      width: 10px;
      height: 10px;
      background: #64b5f6;
      position: absolute;
      top: 20px;
      left: 30px;
    }

    .boxX4Y9HHH {
      width: 10px;
      height: 10px;
      background: #90caf9;
      position: absolute;
      top: 10px;
      left: 30px;
    }

    .bltX4Y10HHH {
      width: 0;
      height: 0;
      border-bottom: 10px solid #bbdefb;
      border-right: 10px solid transparent;
      position: absolute;
      top: 0px;
      left: 30px;
    }

/* X5 X5 X5 X5 X5 X5 X5 */

  .trtX5Y6HHH {
      width: 0;
      height: 0;
      border-top: 10px solid #2196f3;
      border-left: 10px solid transparent;
      position: absolute;
      top: 40px;
      left: 40px;
    }


/* x6 x6 x6 x6 x6 x6 x6 x6 */

  .boxX6Y6HHH {
      width: 10px;
      height: 10px;
      background: #2196f3;
      position: absolute;
      top: 40px;
      left: 50px;
    }


/* x7 x7 x7 x7 x7 x7 x7 x7 x7 */

 .boxX7Y6HHH {
      width: 10px;
      height: 10px;
      background: #2196f3;
      position: absolute;
      top: 40px;
      left: 60px;
    }

/* x8 x8 x8 x8 x8 x8 x8 x8 x8x 8 */

  .trtX8Y2HHH {
      width: 0;
      height: 0;
      border-top: 10px solid #0d47a1;
      border-left: 10px solid transparent;
      position: absolute;
      top: 80px;
      left: 70px;
    }

    .boxX8Y3HHH {
      width: 10px;
      height: 10px;
      background: #1565c0;
      position: absolute;
      top: 70px;
      left: 70px;
    }

    .boxX8Y4HHH {
      width: 10px;
      height: 10px;
      background: #1976d2;
      position: absolute;
      top: 60px;
      left: 70px;
    }

    .boxX8Y5HHH {
      width: 10px;
      height: 10px;
      background: #1e88e5;
      position: absolute;
      top: 50px;
      left: 70px;
    }
  .boxX8Y6HHH {
      width: 10px;
      height: 10px;
      background: #2196f3;
      position: absolute;
      top: 40px;
      left: 70px;
    }

    .boxX8Y7HHH {
      width: 10px;
      height: 10px;
      background: #42a5f5;
      position: absolute;
      top: 30px;
      left: 70px;
    }

    .boxX8Y8HHH {
      width: 10px;
      height: 10px;
      background: #64b5f6;
      position: absolute;
      top: 20px;
      left: 70px;
    }

    .boxX8Y9HHH {
      width: 10px;
      height: 10px;
      background: #90caf9;
      position: absolute;
      top: 10px;
      left: 70px;
    }


    .bltX8Y10HHH {
      width: 0;
      height: 0;
      border-bottom: 10px solid #bbdefb;
      border-right: 10px solid transparent;
      position: absolute;
      top: 0px;
      left: 70px;
    }






/* X4 X4 X4 X4 X4 X4 X4 */ 


  .trtX4Y2EEE {
      width: 0;
      height: 0;
      border-top: 10px solid #0d47a1;
      border-left: 10px solid transparent;
      position: absolute;
      top: 80px;
      left: 90px;
    }

    .boxX4Y3EEE {
      width: 10px;
      height: 10px;
      background: #1565c0;
      position: absolute;
      top: 70px;
      left: 90px;
    }

    .boxX4Y4EEE {
      width: 10px;
      height: 10px;
      background: #1976d2;
      position: absolute;
      top: 60px;
      left: 90px;
    }

    .boxX4Y5EEE {
      width: 10px;
      height: 10px;
      background: #1e88e5;
      position: absolute;
      top: 50px;
      left: 90px;
    }
  .boxX4Y6EEE {
      width: 10px;
      height: 10px;
      background: #2196f3;
      position: absolute;
      top: 40px;
      left: 90px;
    }

    .boxX4Y7EEE {
      width: 10px;
      height: 10px;
      background: #42a5f5;
      position: absolute;
      top: 30px;
      left: 90px;
    }

    .bltX4Y8EEE {
      width: 0;
      height: 0;
      border-bottom: 10px solid #64b5f6;
      border-right: 10px solid transparent;
      position: absolute;

      top: 20px;
      left: 90px;
    }

    .boxX4Y9EEE {
      width: 10px;
      height: 10px;
      background: #90caf9;
      position: absolute;
      top: 10px;
      left: 90px;
    }

    .bltX4Y10EEE {
      width: 0;
      height: 0;
      border-bottom: 10px solid #bbdefb;
      border-right: 10px solid transparent;
      position: absolute;
      top: 0px;
      left: 90px;
    }

/* X5 X5 X5 X5 X5 X5 X5 */

   .boxX5Y2EEE {
      width: 10px;
      height: 10px;
      background: #0d47a1;
      position: absolute;
      top: 80px;
      left: 100px;
    }

    .boxX5Y6EEE {
      width: 10px;
      height: 10px;
      background: #2196f3;
      position: absolute;
      top: 40px;
      left: 100px;
    }

    .boxX5Y9EEE {
      width: 10px;
      height: 10px;
      background: #90caf9;
      position: absolute;
      top: 10px;
      left: 100px;
    }


/* x6 x6 x6 x6 x6 x6 x6 x6 */

  .boxX6Y2EEE {
      width: 10px;
      height: 10px;
      background: #0d47a1;
      position: absolute;
      top: 80px;
      left: 110px;
    }



  .boxX6Y6EEE {
      width: 10px;
      height: 10px;
      background: #2196f3;
      position: absolute;
      top: 40px;
      left: 110px;
    }

    .boxX6Y9EEE {
      width: 10px;
      height: 10px;
      background: #90caf9;
      position: absolute;
      top: 10px;
      left: 110px;
    }

/* x7 x7 x7 x7 x7 x7 x7 x7 x7 */

  .bltX7Y2EEE {
      width: 0;
      height: 0;
      border-bottom: 10px solid #0d47a1;
      border-right: 10px solid transparent;
      position: absolute;
      top: 80px;
      left: 120px;
    }


    .bltX7Y6EEE {
      width: 0;
      height: 0;
      border-bottom: 10px solid #2196f3;
      border-right: 10px solid transparent;
      position: absolute;
      top: 40px;
      left: 120px;
    }


    .bltX7Y9EEE {
      width: 0;
      height: 0;
      border-bottom: 10px solid #90caf9;
      border-right: 10px solid transparent;
      position: absolute;
      top: 10px;
      left: 120px;
    }










/* X4 X4 X4 X4 X4 X4 X4 */ 


  .trtX4Y2LLL {
      width: 0;
      height: 0;
      border-top: 10px solid #0d47a1;
      border-left: 10px solid transparent;
      position: absolute;
      top: 80px;
      left: 140px;
    }

    .bltX4Y3LLL {
      width: 0;
      height: 0;
      border-bottom: 10px solid #1565c0;
      border-right: 10px solid transparent;
      position: absolute;
      top: 70px;
      left: 140px;
    }

    .boxX4Y4LLL {
      width: 10px;
      height: 10px;
      background: #1976d2;
      position: absolute;
      top: 60px;
      left: 140px;
    }

    .boxX4Y5LLL {
      width: 10px;
      height: 10px;
      background: #1e88e5;
      position: absolute;
      top: 50px;
      left: 140px;
    }
  .boxX4Y6LLL {
      width: 10px;
      height: 10px;
      background: #2196f3;
      position: absolute;
      top: 40px;
      left: 140px;
    }

    .boxX4Y7LLL {
      width: 10px;
      height: 10px;
      background: #42a5f5;
      position: absolute;
      top: 30px;
      left: 140px;
    }

    .boxX4Y8LLL {
      width: 10px;
      height: 10px;
      background: #64b5f6;
      position: absolute;
      top: 20px;
      left: 140px;
    }

    .boxX4Y9LLL {
      width: 10px;
      height: 10px;
      background: #90caf9;
      position: absolute;
      top: 10px;
      left: 140px;
    }

    .bltX4Y10LLL {
      width: 0;
      height: 0;
      border-bottom: 10px solid #bbdefb;
      border-right: 10px solid transparent;
      position: absolute;
      top: 0px;
      left: 140px;
    }

/* X5 X5 X5 X5 X5 X5 X5 */

   .boxX5Y2LLL {
      width: 10px;
      height: 10px;
      background: #0d47a1;
      position: absolute;
      top: 80px;
      left: 150px;
    }



/* x6 x6 x6 x6 x6 x6 x6 x6 */

  .boxX6Y2LLL {
      width: 10px;
      height: 10px;
      background: #0d47a1;
      position: absolute;
      top: 80px;
      left: 160px;
    }



/* x7 x7 x7 x7 x7 x7 x7 x7 x7 */

  .bltX7Y2LLL {
      width: 0;
      height: 0;
      border-bottom: 10px solid #0d47a1;
      border-right: 10px solid transparent;
      position: absolute;
      top: 80px;
      left: 170px;
    }










/* X4 X4 X4 X4 X4 X4 X4 */ 


  .trtX4Y2LLL2 {
      width: 0;
      height: 0;
      border-top: 10px solid #0d47a1;
      border-left: 10px solid transparent;
      position: absolute;
      top: 80px;
      left: 190px;
    }

    .bltX4Y3LLL2 {
      width: 0;
      height: 0;
      border-bottom: 10px solid #1565c0;
      border-right: 10px solid transparent;
      position: absolute;
      top: 70px;
      left: 190px;
    }

    .boxX4Y4LLL2 {
      width: 10px;
      height: 10px;
      background: #1976d2;
      position: absolute;
      top: 60px;
      left: 190px;
    }

    .boxX4Y5LLL2 {
      width: 10px;
      height: 10px;
      background: #1e88e5;
      position: absolute;
      top: 50px;
      left: 190px;
    }
  .boxX4Y6LLL2 {
      width: 10px;
      height: 10px;
      background: #2196f3;
      position: absolute;
      top: 40px;
      left: 190px;
    }

    .boxX4Y7LLL2 {
      width: 10px;
      height: 10px;
      background: #42a5f5;
      position: absolute;
      top: 30px;
      left: 190px;
    }

    .boxX4Y8LLL2 {
      width: 10px;
      height: 10px;
      background: #64b5f6;
      position: absolute;
      top: 20px;
      left: 190px;
    }

     .boxX4Y9LLL2 {
      width: 10px;
      height: 10px;
      background: #90caf9;
      position: absolute;
      top: 10px;
      left: 190px;
    }

    .bltX4Y10LLL2 {
      width: 0;
      height: 0;
      border-bottom: 10px solid #bbdefb;
      border-right: 10px solid transparent;
      position: absolute;
      top: 0px;
      left: 190px;
    }

/* X5 X5 X5 X5 X5 X5 X5 */

   .boxX5Y2LLL2 {
      width: 10px;
      height: 10px;
      background: #0d47a1;
      position: absolute;
      top: 80px;
      left: 200px;
    }



/* x6 x6 x6 x6 x6 x6 x6 x6 */

  .boxX6Y2LLL2 {
      width: 10px;
      height: 10px;
      background: #0d47a1;
      position: absolute;
      top: 80px;
      left: 210px;
    }



/* x7 x7 x7 x7 x7 x7 x7 x7 x7 */

  .bltX7Y2LLL2 {
      width: 0;
      height: 0;
      border-bottom: 10px solid #0d47a1;
      border-right: 10px solid transparent;
      position: absolute;
      top: 80px;
      left: 220px;
    }



/* X4 X4 X4 X4 X4 X4 X4 */ 


  .trtX4Y4ooo {
      width: 0;
      height: 0;
      border-top: 10px solid #1976d2;
      border-left: 10px solid transparent;
      position: absolute;
      top: 60px;
      left: 240px;
    }

    .boxX4Y5ooo {
      width: 10px;
      height: 10px;
      background: #1e88e5;
      position: absolute;
      top: 50px;
      left: 240px;
    }

    .boxX4Y6ooo {
      width: 10px;
      height: 10px;
      background: #2196f3;
      position: absolute;
      top: 40px;
      left: 240px;
    }

    .boxX4Y7ooo {
      width: 10px;
      height: 10px;
      background: #42a5f5;
      position: absolute;
      top: 30px;
      left: 240px;
    }
  

/* X5 X5 X5 X5 X5 X5 X5 */

   .trtX5Y2ooo {
      width: 0;
      height: 0;
      border-top: 10px solid #0d47a1;
      border-left: 10px solid transparent;
      position: absolute;
      top: 80px;
      left: 250px;
    }


    .bltX5Y3ooo {
      width: 0;
      height: 0;
      border-bottom: 10px solid #1565c0;
      border-right: 10px solid transparent;
      position: absolute;
      top: 70px;
      left: 250px;
    }

    .boxX5Y8ooo {
      width: 10px;
      height: 10px;
      background: #64b5f6;
      position: absolute;
      top: 20px;
      left: 250px;
    }

    .boxX5Y9ooo {
      width: 10px;
      height: 10px;
      background: #90caf9;
      position: absolute;
      top: 10px;
      left: 250px;
    }

    .bltX5Y10ooo {
      width: 0;
      height: 0;
      border-bottom: 10px solid #bbdefb;
      border-right: 10px solid transparent;
      position: absolute;
      top: 0px;
      left: 250px;
    }


/* x6 x6 x6 x6 x6 x6 x6 x6 */

  .boxX6Y2ooo {
      width: 10px;
      height: 10px;
      background: #0d47a1;
      position: absolute;
      top: 80px;
      left: 260px;
    }


    .boxX6Y9ooo {
      width: 10px;
      height: 10px;
      background: #90caf9;
      position: absolute;
      top: 10px;
      left: 260px;
    }

/* x7 x7 x7 x7 x7 x7 x7 x7 x7 */

  .boxX7Y2ooo {
      width: 10px;
      height: 10px;
      background: #0d47a1;
      position: absolute;
      top: 80px;
      left: 270px;
    }


    .boxX7Y9ooo {
     width: 10px;
      height: 10px;
      background: #90caf9;
      position: absolute;
      top: 10px;
      left: 270px;
    }

/* x8 x8 x8 x8 x8 x8 x8 x8 x8 x8 x8 */

    .boxX8Y2ooo {
      width: 10px;
      height: 10px;
      background: #0d47a1;
      position: absolute;
      top: 80px;
      left: 280px;
    }


    .boxX8Y3ooo {
     width: 10px;
      height: 10px;
      background: #1565c0;
      position: absolute;
      top: 70px;
      left: 280px;
    }


    .trtX8Y8ooo {
      width: 0;
      height: 0;
      border-top: 10px solid #64b5f6;
      border-left: 10px solid transparent;
      position: absolute;
      top: 20px;
      left: 280px;
    }

    .bltX8Y9ooo {
      width: 0;
      height: 0;
      border-bottom: 10px solid #90caf9;
      border-right: 10px solid transparent;
      position: absolute;
      top: 10px;
      left: 280px;
    }

/* x9 x9 x9 x9 x9 x9 x9 x9 x9 */

    .boxX9Y4ooo {
     width: 10px;
      height: 10px;
      background: #1976d2;
      position: absolute;
      top: 60px;
      left: 290px;
    }

    .boxX9Y5ooo {
     width: 10px;
      height: 10px;
      background: #1e88e5;
      position: absolute;
      top: 50px;
      left: 290px;
    }

    .boxX9Y6ooo {
     width: 10px;
      height: 10px;
      background: #2196f3;
      position: absolute;
      top: 40px;
      left: 290px;
    }

    .bltX9Y7ooo {
     width: 0;
      height: 0;
      border-bottom: 10px solid #42a5f5;
      border-right: 10px solid transparent;
      position: absolute;
      top: 30px;
      left: 290px;
    }



#Y2 {

}


/* border-color: red; 
   background: red;

*/




/*
	.bstripe1:hover {
 		background: #e3f2fd;
 		transition-delay: 
 	}

 	.bstripe2:hover {
 		background: #bbdefb;
 	}

 	.bstripe3:hover {
 		background: #90caf9;
 	}

 	.bstripe4:hover {
 		background: #64b5f6;
 	}

 	.bstripe5:hover {
 		background: #42a5f5;
 	}

 	.bstripe6:hover {
 		background: #2196f3;
 	}

 	.bstripe7:hover {
 		background: #1e88e5;

 	}

 	.bstripe8:hover {
 		background: #1976d2;
 	}

 	.bstripe9:hover {
 		background: #1565c0;
 	}

 	.bstripe10:hover {
 		background: #0d47a1;
 	}





	.bstripe11:hover {
 		background: #e3f2fd;
 	}

 	.bstripe12:hover {
 		background: #bbdefb;
 	}

 	.bstripe13:hover {
 		background: #90caf9;
 	}

 	.bstripe14:hover {
 		background: #64b5f6;
 	}

 	.bstripe15:hover {
 		background: #42a5f5;
 	}

 	.bstripe16:hover {
 		background: #2196f3;
 	}

 	.bstripe17:hover {
 		background: #1e88e5;

 	}

 	.bstripe18:hover {
 		background: #1976d2;
 	}

 	.bstripe19:hover {
 		background: #1565c0;
 	}

 	.bstripe20:hover {
 		background: #0d47a1;
 	}










 	.bstripe21:hover {
 		background: #e3f2fd;
 	}

 	.bstripe22:hover {
 		background: #bbdefb;
 	}

 	.bstripe23:hover {
 		background: #90caf9;
 	}

 	.bstripe24:hover {
 		background: #64b5f6;
 	}

 	.bstripe25:hover {
 		background: #42a5f5;
 	}

 	.bstripe26:hover {
 		background: #2196f3;
 	}

 	.bstripe27:hover {
 		background: #1e88e5;

 	}

 	.bstripe28:hover {
 		background: #1976d2;
 	}

 	.bstripe29:hover {
 		background: #1565c0;
 	}

 	.bstripe30:hover {
 		background: #0d47a1;
 	}





 	.bstripe31:hover {
 		background: #e3f2fd;
 		transition-delay: 
 	}

 	.bstripe32:hover {
 		background: #bbdefb;
 	}

 	.bstripe33:hover {
 		background: #90caf9;
 	}

 	.bstripe34:hover {
 		background: #64b5f6;
 	}

 	.bstripe35:hover {
 		background: #42a5f5;
 	}

 	.bstripe36:hover {
 		background: #2196f3;
 	}

 	.bstripe37:hover {
 		background: #1e88e5;

 	}

 	.bstripe38:hover {
 		background: #1976d2;
 	}

 	.bstripe39:hover {
 		background: #1565c0;
 	}

 	.bstripe40:hover {
 		background: #0d47a1;
 	}

*/




 	
